<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pass Matrix Authentication: A Novel Shoulder Surfing Resistant
        Authentication System
        
        </h1>
        <p>A secure graphical authentication system that protects users from becoming victims of
            shoulder surfing attacks when inputting passwords in public through the use of one time
            login where we used different programming languages Python3,HTML5, CSS,
            JavaScript, PHP, MySQL Database to develop the project.</p>
</body>
</html>