{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blanchedalmond;">
    <h1> <a href="">Roles and Responsibilities :</a> </h1>
    <p style=" float: right;"><img  src="{%static 'django.webp'%}" alt="Gold" style="align-content: right; float: right;" width="500px" height="500px">
    <h2>
        <ul>
            <li>Worked on developing web applications using Python<img src="{%static 'python.png'%} " style="width: 30px; height: 30px;" alt="">, Django<img src="{%static 'pydj.webp'%} " style="width: 30px; height: 30px;" alt=""> .</li>
            <li>Worked on rest API for the applications using Django-Rest-Framework<img src="{%static 'drf.png'%} " style="width: 30px; height: 30px;" alt=""></li>
            <li>Designed and developed the UI of the website using HTML<img src="{%static 'html.png'%} " style="width: 30px; height: 30px;" alt="">,CSS<img src="{%static 'css.png'%} " style="width: 30px; height: 30px;" alt="">,JavaScript<img src="{%static 'js.jpg'%} " style="width: 30px; height: 30px;" alt="">.</li>
            <li>Designed the views for creating the user story using CBV and FBV views</li>
            <li>Good working knowledge on templates for managing the frontend pages using Jinja <img src="{%static 'jinja.png'%} " style="width: 30px; height: 30px;" alt=""> .</li>
            <li>Continuous updating and maintenance of production code and deployments.</li>
            <li>Hands on Experience on developing REST APIs and Business logics.</li>
            <li>Using version control systems like Git <img src="{%static 'git.png'%} " style="width: 30px; height: 30px;" alt=""> for managing and tracking changes to the codebase.
            </li>

        </ul>
    </p>

    </h2>
</body>
</html>